body {
    margin: 0;
    min-height: 100dvh;
    display: grid;
    place-items: center;
    background: url('../assets/img/same-register-login-background.png') left top / cover no-repeat fixed;
    backdrop-filter: blur(4px);
    overflow: hidden;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.card-title {
    font-size: 30px;
    font-weight: bold;
}

.glass-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.20);
    padding: 26px;
}

.field-input {
    border-radius: 9px;
    height: 45px;
    width: 50vh;
    background-color: rgba(255, 255, 255, 0.20);
    border: solid 1px rgba(255, 255, 255, 0.20);
    padding: 0 18px !important;
}

label {
    display: none;
}

#birthdate-field {
    display: flex;
    justify-content: space-around !important;
}

.dropdown {
    width: 15vh;
}

fieldset {
    display: flex;
}

.demi-input {
    width: 25vh;
}

button[type='submit'] {
    background-color: rgba(255, 255, 255, 0.20);
    border-radius: 8px;
    width: 50vh;
    height: 45px;

}

.card-line {
    margin-bottom: 18px;
}