body {
    margin: 0;
    min-height: 100dvh;
    display: grid;
    place-items: center;
    background: url('../assets/img/same-register-login-background.png') center / cover no-repeat fixed;
    overflow: hidden;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.glass-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.20);
    padding: 26px;
}

input {
    border-radius: 9px;
    height: 45px;
    width: 50vh;
    background-color: rgba(255, 255, 255, 0.20);
    border: solid 1px rgba(255, 255, 255, 0.20);
}

label {
    display: none;
}

#birthdate-field {
    display: flex;
    justify-content: center;
    border-radius: 9px;
    height: 45px;
    width: 50vh;
}

.dropdown {
    border-radius: 9px;
    height: 45px;
    width: 16vh;
    background-color: rgba(255, 255, 255, 0.20);
    border: solid 1px rgba(255, 255, 255, 0.20);
}